body {
    font-family: 'Comic Sans MS', cursive;
    background-color: #ffcc00;
    color: #1100cc;
    line-height: 1.6;
}

h1 {
    color: #ddff33;
    text-size-adjust: 50px;
}

p {
    background-color: #f30b0b;
    border: 5px solid #00c9cc;
    padding: 20px;
    border-radius: 50px;
}

button {
    background-color: #ff007b;
    color: #ffffff;
    border: 2px solid #ff00b7;
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-family: Impact, fantasy;
}
button {
    background-color: #ff007b;
    color: #ffffff;
    border: 2px solid #ff00b7;
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-family: Impact, fantasy;
}

a {
    text-decoration: steelblue;
    color: #009933;
}

a:hover {
    text-decoration: saddlebrown;
    color: #cee70f;
}

.container {
    display: -moz-grid-line;
    justify-content: last baseline;
    align-items: last baseline;
    height: 200vh;
}

.box {
    width: 400px;
    height: 400px;
    background-color: #ffff00;
    border: 10px dashed #ff00ff;
    transform: rotate(20deg);
}

h3 {color: #e3070e;
} 
